<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896432052475-bhaqksuv2gmt1947h7h8fl0179p5emul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896432052475-bhaqksuv2gmt1947h7h8fl0179p5emul</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>896432052475-kjp2enia44q2q2rfbq600pm2ocop2nso.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwUk_tZtgYwHvAzMHT-ulmyqwBQW-Xd7c</string>
	<key>GCM_SENDER_ID</key>
	<string>896432052475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Terminal-iOS</string>
	<key>PROJECT_ID</key>
	<string>terminal-fd69d</string>
	<key>STORAGE_BUCKET</key>
	<string>terminal-fd69d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896432052475:ios:f91be6834eba844c04385e</string>
	<key>DATABASE_URL</key>
	<string>https://terminal-fd69d.firebaseio.com</string>
</dict>
</plist>